<template>
  <div id="app">
    <img class="logo" src="./assets/logo.png" alt="" />

    <div class="content">

      <!--INPUT CONTENT-->
      <div
        :class="info.inputContent"
        v-if="info.showInput"
        :mobileVersion="mobileVersion()"
      >
        <!--INPUT FOR CHANGING USD TO EUR-->
        <div class="input-eur-usd">
          <h4 class="input__title">eur</h4>
          <label class="switch">
            <input
              id="toggle"
              type="checkbox"
              true-value="$"
              false-value="€"
              v-model:value="info.toggle"
              @input="updateInfo('toggle', $event.target.value)"
            />
            <span class="slider"></span>
          </label>
          <h4 class="input__title">usd</h4>
        </div>

        <!--INPUT FOR INSERTING VALUE-->
        <div class="input-value">
          <h4 class="input__title">valor</h4>
          <label class="input__subtitle" for="value">{{ info.toggle }}</label>
          <input
            id="value"
            type="number"
            step=".01"
            pattern="^\d*(\.\d{0,2})?$"
            v-model:value="info.value"
            @input="updateInfo('value', $event.target.value)"
          />
        </div>

        <!--INPUT FOR INSERTING TIP PERCENTAGE-->
        <div class="input-slide">
          <div class="input-slide__part">
            <label class="input__title" for="tip">gorjeta</label>
            <h5 class="input__subtitle">{{ info.tip }}%</h5>
          </div>
          <div class="input-slide__part">
            <p class="input__txt">10</p>
            <input
              id="tip"
              class="input__slider-tip"
              v-model="info.tip"
              type="range"
              min="10"
              max="20"
              @input="updateInfo('tip', $event.target.value)"
            />
            <p class="input__txt">20</p>
          </div>
        </div>

        <!--INPUT FOR INSERTING NUMBER OF PEOPLE-->
        <div class="input-slide">
          <div class="input-slide__part">
            <label class="input__title" for="tip">pessoas</label>
            <h5 class="input__subtitle">{{ info.people }}</h5>
          </div>
          <div class="input-slide__part">
            <p class="input__txt">2</p>
            <input
              id="people"
              class="input__slider-people"
              v-model="info.people"
              type="range"
              min="2"
              max="16"
              @input="updateInfo('people', $event.target.value)"
            />
            <p class="input__txt">16</p>
          </div>
        </div>

        <div class="button">
          <button
            class="input-btn"
            type="button"
            v-if="info.showButton"
            v-on:click="nextPage"
          >
            >
          </button>
        </div>
      </div>

      <!--VALUE CONTENT-->
      <div :class="info.valueContent" v-if="info.showValue">
        <!--RAW VALUE-->
        <div class="value-content__part">
          <h4 class="value__title">conta</h4>
          <h3 class="value__subtitle">
            {{ info.toggle }} {{ info.value.toFixed(2) }}
          </h3>
        </div>

        <!--TIP VALUE-->
        <div class="value-content__part">
          <h4 class="value__title">gorjeta</h4>
          <h3 class="value__subtitle">
            {{ info.toggle }}
            {{ info.tipValueRounded }}
          </h3>
        </div>

        <!--TOTAL VALUE-->
        <div class="value-content__part">
          <h4 class="value__title">total</h4>
          <h3 class="value__subtitle">
            {{ info.toggle }}
            {{ info.totalValueRounded }}
          </h3>
        </div>

        <!--TOTAL VALUE PER PERSON-->
        <div class="value-content__part">
          <h4 class="value__title">por pessoa</h4>
          <h3 class="value__subtitle">
            {{ info.toggle }}
            {{ info.perPersonRounded }}
          </h3>
        </div>

        <!--TOTAL VALUE PER PERSON IN BRL-->
        <div class="value-content__part">
          <h4 class="value__title">em R$</h4>
          <h3 class="value__subtitle">R$ {{ info.realValue.toFixed(2) }}</h3>
        </div>

        <div class="button">
          <button
            class="value-btn"
            type="button"
            v-if="info.showButton"
            v-on:click="nextPage"
          >
            <
          </button>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  const axios = require("axios").default;

  export default {
    data() {
      return {
        info: {
          inputContent: "input-content",
          valueContent: "value-content",
          value: 0,
          toggle: "$",
          tip: 10,
          people: 2,
          dataUSD: [],
          dataEUR: [],
          tipValue: 0,
          tipValueRounded: 0,
          totalValue: 0,
          totalValueRounded: 0,
          perPerson: 0,
          perPersonRounded: 0,
          realValue: 0,
          rateUSD: 1.5,
          rateEUR: 2,
          showInput: true,
          showValue: true,
          showButton: true,
          page: 1
        }
      };
    },

    created() {
      window.addEventListener("resize", this.mobileVersion);
    },
    destroyed() {
      window.removeEventListener("resize", this.mobileVersion);
    },

    methods: {
      mobileVersion() {
        if (this.info.page == 1) {
          if (window.innerWidth < 600) {
            this.info.showValue = false;
            this.info.showButton = true;
            this.info.inputContent = "input-content__mobile1";
            this.info.valueContent = "value-content__mobile1";
          } else {
            this.info.showValue = true;
            this.info.showInput = true;
            this.info.showButton = false;
            this.info.inputContent = "input-content";
            this.info.valueContent = "value-content";
          }
        } else if (this.info.page == 2) {
          if (window.innerWidth < 600) {
            this.info.showInput = false;
            this.info.showValue = true;
            this.info.showButton = true;
            this.info.inputContent = "input-content__mobile2";
            this.info.valueContent = "value-content__mobile2";
          } else {
            this.info.showValue = true;
            this.info.showInput = true;
            this.info.showButton = false;
            this.info.inputContent = "input-content";
            this.info.valueContent = "value-content";
          }
        }
      },

      nextPage() {
        if (this.info.page == 1) {
          this.info.showValue = true;
          this.info.showInput = false;
          this.info.showButton = true;
          this.info.inputContent = "input-content__mobile2";
          this.info.valueContent = "value-content__mobile2";
          this.info.page = 2;
        } else {
          this.info.showValue = false;
          this.info.showInput = true;
          this.info.showButton = true;
          this.info.inputContent = "input-content__mobile1";
          this.info.valueContent = "value-content__mobile1";
          this.info.page = 1;
        }
      },

      updateInfo(input, x) {
        this.info[input] = parseFloat(x);
      },

      results() {
        fetch(
          `https://swop.cx/rest/rates/USD/BRL?api-key=56132eaead48a4add8692447428d48359254d9c182f489817543586e02fba73e`
        )
          .then(response => response.json())
          .then(data => {
            this.info.dataUSD = data;
            this.info.rateUSD = data.quote;
            return this.info.rateUSD;
          });

        fetch(
          `https://swop.cx/rest/rates/EUR/BRL?api-key=56132eaead48a4add8692447428d48359254d9c182f489817543586e02fba73e`
        )
          .then(response => response.json())
          .then(data => {
            this.info.dataEUR = data;
            this.info.rateEUR = data.quote;
            return this.info.rateEUR;
          });

        this.info.tipValue = this.info.tip * 0.01 * this.info.value;
        this.info.tipValueRounded = (this.info.tipValue).toFixed(2);

        this.info.totalValue = this.info.tipValueRounded + this.info.value;
        this.info.totalValueRounded = (this.info.totalValue).toFixed(2);

        this.info.perPerson = this.info.totalValueRounded / this.info.people;
        this.info.perPersonRounded = (this.info.perPerson).toFixed(2);

        if (this.info.toggle == "$") {
          this.info.realValue = this.info.perPerson / this.info.rateUSD;
        } else {
          this.info.realValue = this.info.perPerson / this.info.rateEUR;
        }
      },

      updates() {
        this.info.tipValue = this.info.tip * 0.01 * this.info.value;
        this.info.tipValueRounded = this.info.tipValue.toFixed(2);

        this.info.totalValue = this.info.tipValue + this.info.value;
        this.info.totalValueRounded = this.info.totalValue.toFixed(2);

        this.info.perPerson = this.info.totalValueRounded / this.info.people;
        this.info.perPersonRounded = (this.info.perPerson).toFixed(2);


        if (this.info.toggle == "$") {
          this.info.realValue = this.info.perPerson * this.info.rateUSD;
        } else {
          this.info.realValue = this.info.perPerson * this.info.rateEUR;
        }
      }
    },

    mounted() {
      this.results();
    },

    updated() {
      this.updates();
    },
    watch() {
      this.mobileVersion();
    }
  };
</script>
