@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
}

#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #ede7e8;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.content {
  margin: 0;
  display: flex;
  align-items: flex-start;
  background-color: #ede7e8;
  width: 100vw;
  height: 70vh;
}

.input-content {
  width: 45vw;
  height: 600px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ede7e8;
}

.value-content {
  width: 45vw;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ede7e8;
}


.input-content__mobile1 {
  width: 100vw;
  height: 70vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ede7e8;
}

.value-content__mobile1 {
  width: 0vw;
}

.input-content__mobile2 {
  width: 0vw;
}

.value-content__mobile2 {
  width: 100vw;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ede7e8;
}

.logo {
  height: 20vh;
}
