/*
@media only screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .value-content {
    display: none;
  }

  .input-content {
    width: 100vw;
    height: 80vh;
    justify-content: space-around;
  }

  .input-eur-usd,
  .input-value,
  .input-slide {
    margin: 5px;
  }

  .input-btn {
    display: block;
  }
}



@media only screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .input-content {
    display: none;
  }

  .value-content {
    width: 100vw;
    height: 80vh;
    justify-content: space-around;
  }

  .value-btn {
    display: block;
  }

  .input__title {
    margin: 5px;
  }
}
 */
