/* input pattern */

.input__title {
  margin: 20px;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  justify-content: left;
  color: #291a18;
  font-family: "Poppins", sans-serif;
}

.input__subtitle {
  margin: 5px;
  font-size: 20px;
  font-weight: 600;
  margin-right: 5px;
  font-family: "Poppins", sans-serif;
}

.input__txt {
  font-size: 15px;
  font-weight: 400;
  margin-right: 5px;
  font-family: "Poppins", sans-serif;
}

/* value pattern */

.value__title {
  margin-bottom: 5px;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  justify-content: left;
  color: #291a18;
  font-family: "Poppins", sans-serif;
}

.value__subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-right: 5px;
  font-family: "Poppins", sans-serif;
}

/* eur or usd input */

.input-eur-usd {
  display: flex;
  align-items: center;
  margin: 20px;
  height: 20vw;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #291a18;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #925d55;
}

input:focus + .slider {
  box-shadow: 0 0 100px #925d55;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* value input */

.input-value {
  display: flex;
  height: 20vw;
  align-items: center;
  margin-bottom: 10px;
}

#value {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  box-shadow: 0px 0px 150px #925d55;
}

/* tip and number of people input */

.input-slide {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 20vw;

}

.input-slide__part {
  display: flex;
  align-items: center;
  justify-content: left;
}

.input__slider-tip,
.input__slider-people {
  width: 200px;
  height: 15px;
  appearance: none;
  background: #c3b6b8;
  opacity: 0.7;
}

.input__slider-tip:hover,
.input__slider-people:hover {
  opacity: 1;
}

.input__slider-tip::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: url("../tip.svg");
  cursor: pointer;
}

.input__slider-people::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: url("../group.svg");
  cursor: pointer;
}

/* visual content */

.value-content__part {
  /* width: 60vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0px 0px 5px #925d55; */
  margin-bottom: 25px;
  height: 15vw;

}

/* buttons */

.button {
  width: 100%;
  height: 20vw;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative

}

.input-btn,
.value-btn {
  position: absolute;
  top: 50%;
  left: 80%;
  background-color: #291a18;
  font-size: 25px;
  width: 35px;
  height: 35px;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 100px;
  display: block;
}
